@import './base.css';
@import "tailwindcss";


body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.task {
  width: 600px;
  border: 2px solid;
  border-radius: 16px;
  padding: 12px 16px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.task_text {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  outline: none;
}

.low {
  background-color: #38cbcb;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}

.medium {
  background-color: #ffab00;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}

.high {
  background-color: #ff481f;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}
