@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  max-width: 400px;
}

.task {
  width: 600px;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 16px;
  padding: 8px 16px;
  margin: 25px;
}

.task_text {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  outline: none;
}

.low {
  background-color: #38cbcb;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}

.medium {
  background-color: #ffab00;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}

.high {
  background-color: #ff481f;
  padding: 2px 7px;
  border-radius: 16px;
  color: white;
}
